header {
    margin-top: 150px;
    margin-bottom: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  
    header.fixed-top-added {
    padding-top: 50px;
    }
  
    .hero-content {
    margin-top: 80px;
    }

    .title{
    opacity: 0;
    animation: fadeSimple 0.5s ease-in-out 0.5s forwards;
    }
    
    .parragraph{
    opacity: 0;
    animation: fadeSimple 1.5s ease-in-out 1.5s forwards;
    }
    
    .pair-btns-list{
    margin-left: -20px;
    display: flex;
    opacity: 0;
    animation: fadeSimple 2.5s ease-in-out 2.5s forwards;

    .custom-button{
        margin: 20px;
    }
    
    }
  
}

  
@media (max-width: 1100px) {
    .header{
        .pair-btns-list{
            margin-right: 0px;
        }
          
    }
  
}
  
@media (max-width: 900px) {
    .header{
        margin-top: 50px;

        .title{
            text-align: center;
        }

        .parragraph{
        text-align: center;
        }
    
        .hero-img {
        margin-top: 100px;
        }
    
        header .hero-content {
        margin-bottom: 110px;
        text-align: center;
        }

        .pair-btns-list{
            margin-right: 0px;
            display: flex;
            opacity: 0;
            animation: fadeSimple 2.5s ease-in-out 2.5s forwards;

            .custom-button{
                margin: 10px;
            }
        }
          
    }
  
}

@keyframes fadeSimple {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

